 /* custom1*/

footer {
    
     background: black;
     color:white;
}

h2 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 3.0em; /* 30px/16=1.875em */
  color:black;
  text-align: center;
 
}

h3 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em; /* 30px/16=1.875em */
  color:black;
  text-align: center;
 
}

h4 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em; /* 30px/16=1.875em */
  color:black;
  text-align: center;
 
}
