<!-- Calendar -->
<section id="calendar" class="calendar-section">
  <div class="container">
    <div class="page-header">
      <h2>Event Calendar&nbsp;&nbsp;<small class="hidden-xs hidden-sm">&nbsp;Events for people who love the Outdoors</small></h2>
    </div>
    <!-- page header end -->
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=erieoutingclub%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"></iframe>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
