  <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
         <div class="page-header">
    <h2>Contact the Erie Outing Club&nbsp;&nbsp;<small class="hidden-xs hidden-sm">&nbsp;&nbsp;If you want more information</small></h2>
  </div> <!-- page header end -->
            <div class="row">
             <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
             <form action="//formspree.io/webmaster@erieoutingclub.org"
      method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
</form>
             
              </div>
		</div> <!-- end row -->
        </div> <!-- end container -->
    </section>
