  <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
         <div class="page-header">
    <h2>Contact the Erie Outing Club&nbsp;&nbsp;<small class="hidden-xs hidden-sm">&nbsp;&nbsp;Contact the Erie Outing Club for more information</small></h2>
  </div> <!-- page header end -->
            <div class="row">
             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
              <h3>Send us a  message at the address below</h3>
             <address>
            <strong>Erie Outing Club</strong><br>
             PO Box 1163<br>
              Erie Pennsylvania 16512-1163<br>
             </address>
             </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              
              <h3>Fill in Form below for more information on a event or the club.</h3><br>
              <!-- www.123contactform.com script begins here -->

<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1831479.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>
<p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--1831479.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->

              </div>
		</div> <!-- end row -->
        </div> <!-- end container -->
    </section>
