  <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
         <div class="page-header">
    <h2>Contact the Erie Outing Club&nbsp;&nbsp;<small class="hidden-xs hidden-sm">&nbsp;&nbsp;Contact the Erie Outing Club for more information</small></h2>
  </div> <!-- page header end -->
            <div class="row">
             <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <h3>Send us a  message at the address below</h3>
             <address>
            <strong>Erie Outing Club</strong><br>
             PO Box 1163<br>
              Erie Pennsylvania 16512-1163<br>
             </address>
             </div>
              <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
              <h3>Click Button below to send a electronic mail message</h3>
              <h3>You will be leaving the Erie Outing Club site</h3><br>
               <a href="http://www.123contactform.com/form-1713646/Erie-Outing-Club-Form" ><img  src="https://dflzqrzibliy5.cloudfront.net/images3/contactbutton.gif"  alt="Click Here"></a>
              </div>
		</div> <!-- end row -->
        </div> <!-- end container -->
    </section>
