<footer id="credits">
		<div class="container">
			<hr>
			<li>><p>&copy; Web site updated and Maintained by Erie Outing Club Members 2016</p>
		 <a class="btn btn-block btn-social btn-github">
    <span class="fa fa-btn-githubr"></span>Web site hosted on Git Hub
  </a></li
    	<div class="list-inline">

    		  <div class="text-center" >

                   <a class="btn btn-primary btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/Erie-Outing-Club-131792463542973/" title="Sign in with Facebook" rel="nofollow">
    <span class="fa fa-facebook"></span>&nbsp;Follow us on Facebook</a>

     <a class="btn btn-primary btn-lg btn-social-icon btn-google" href="https://plus.google.com/u/0/114549354088221792282" title="Follow us on Google Plus" rel="nofollow">
    <span class="fa fa-google"></span>&nbsp;Follow us on Google +</a>



     <a class="btn btn-primary btn-lg btn-social-icon btn-youtube" href="https://www.youtube.com/user/erieoutdoors" title="Follow us on Youtube" rel="nofollow">
    <span class="fa fa-youtube"></span>&nbsp;Follow us on Youtube </a>
    </div><!-- text-center -->
    	</div>
    	</div> <!-- end container -->
</footer>
