<!-- Join -->
    <section id="join" class="join-section">
        <div class="container">
         <div class="page-header">
    <h2>Membership Information Page<small class="hidden-xs hidden-sm">&nbsp;&nbsp;How to join the Erie Outing Club</small></h2>
        </div> <!-- page header end -->
            <div class="row">
             <div class="col-xs-12 col-lg-4">
              <p>Below is the link to the membership application.
You need the acrobat reader program to view file.</p>
<p>Print them out and sign both the application and the release.</p>

             </div>
              <div class="col-xs-12 col-lg-8">
              <p>Then mail them to the Erie Outing Club including your check.</p>
              <address>
            <strong>Erie Outing Club</strong><br>
             PO Box 1163<br>
              Erie Pennsylvania 16512-1163<br>
             </address>

<p>Click on the links below to download</p>

<p> After you send your application in, check out the <a class="active" href="faq.html">Frequently Asked Questions</a><span class="hide"> | </span> page for further information.
<h2><a href="membershipApp16.pdf" target="_blank">Click here for 2016 membership application</a></h2>
              </div>
		</div> <!-- end row -->
        </div> <!-- end container -->
    </section>
