<div class="jumbotron">
  <div class="container text-center">
    <h1>Erie Outing Club</h1>
    <p>We do Backpacking, Bicycle Riding,Cross-Country Skiing, Hiking,and Kayaking</p>
    <div class="text-center">
      <div class="list-inline">
        <a class="btn btn-primary btn-sm btn-social-icon btn-facebook" href="https://www.facebook.com/Erie-Outing-Club-131792463542973/" title="Sign in with Facebook" rel="nofollow">
          <span class="fa fa-facebook"></span>&nbsp;Follow us on Facebook</a>
        <a class="btn btn-primary btn-sm btn-social-icon btn-google" href="https://plus.google.com/u/0/114549354088221792282" title="Follow us on Google Plus" rel="nofollow">
          <span class="fa fa-google"></span>&nbsp;Follow us on Google +</a>
        <a class="btn btn-primary btn-sm btn-social-icon btn-youtube" href="https://www.youtube.com/user/erieoutdoors" title="Follow us on Youtube" rel="nofollow">
          <span class="fa fa-youtube"></span>&nbsp;Follow us on Youtube </a>
      </div>
    </div>
    <!-- text-center -->
  </div>
  <!-- class="container -->
</div>
<!-- jumbotron -->
