 <!-- Meeting Section -->
    <section id="meeting" class="meeting-section">
        <div class="container">
        	<div class="page-header">
       <h2>Monthly Meeting<small class="hidden-xs hidden-sm">&nbsp;&nbsp;Meet Members and listen to interesting Speakers</small></h2>
         </div> <!-- page header end -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h4>The Membership Meeting is on the Third Tuesday of the Month<br> at 7:00 p.m.</h4>
      <h4>located at<br> the Erie Sight Center<br>2545 West 26th Street<br> Erie, PA 16505-3261
</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Meeting Date</h3>
     <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="meeting.html" width="600" height="300"></iframe>
                    </div><!-- Row -->
    </div> <!-- embed-responsive -->
            </div> <!-- Row -->
        </div> <!-- Container -->
    </section>
