<!-- Meeting Section -->
<section id="membership-meeting" class="meeting-section">
  <div class="container">
    <div class="page-header">
      <h2>Monthly Meeting&nbsp;&nbsp;<small class="hidden-xs hidden-sm">&nbsp;&nbsp;Meet Members and listen to interesting Speakers</small></h2>
    </div>
    <!-- page header end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p id="membershipMeeting">The Membership Meeting is<span class="hidden-xs">on the Third Tuesday of the Month<br></span> at 7:00 p.m.</p>
        <p id="meetingPlace"></p>
          <script src="{{ site.baseurl }}/static/js/meetingPlace.js"></script>
       </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p id="meetingMonths">The Membership Meetings for the next two  months are below</p>
        <p id="meetingDates"></p>
        <p id="meetingDates1"></p>
        <script src="{{ site.baseurl }}/static/js/meetingDates.js"></script>
      </div>
      <!-- embed-responsive -->
    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
</section>
