 /* custom1*/

footer {

     background: black;
     color:white;
}

h2 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 3.0em; /* 30px/16=1.875em */
  color:yellow;
  text-align: center;

}



h3 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em; /* 30px/16=1.875em */
  color:black;
  text-align: center;

}



h4 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em; /* 30px/16=1.875em */
  color:black;
  text-align: center;

}

#title {
  color:yellow;
}



@media screen and (max-width: 768px) {
  h4 {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em; /* 30px/16=1.875em */
  color:black;
  text-align: center;

}

}

 .page-header {
background-image: url("{{ site.baseurl }}/static/images/bridge.jpg");
 height: 25%;
}

 .page-header small {
color:#500000 ;
}

small {
 background-color: white;
}
