   /* http://www.impressivewebs.com/modular-css-media-queries-sass/*/
   
  body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background: #ffccff;
}

@media screen and (max-width: 549px) {

body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background:   #ff99ff;
}
}

@media all and (max-width: 767px) and (min-width: 550px) {
   body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background:  #ffccff;
}
   
}

@media all and (max-width: 800px) and (min-width: 768px) {
   body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background:  #ff99ff;
}
   
}


 @media all and (max-width: 991px) and (min-width: 800px) {
 body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background:   #ffccff;
}
 
 }
 
  @media all and (max-width: 1200px) and (min-width: 992px) {
     body {
    width: 100%;
    height: 100%;
     padding: 40px 0px 0px 0px;
     background:   #ff99ff;
}
     
  }

  
  
  
  @media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
  
    /*intro-section */
   
   .intro-section {
    height: 150%;
    padding: 20px 50px 0px 50px;
    text-align: center;
    background: #ffccff;
}

 @media screen 
 and (max-width: 400px) {
  .intro-section {
    height: 350%;
    padding: 2.25em 1.25em 140em 1.25em;
    text-align: center;
    background: #ff99ff;
    
    }
 }





 @media screen 
  and (min-width: 401px) 
 and (max-width: 549px) {
  .intro-section {
    height: 275%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff99ff;
    
    }
 }
 
 @media all 
 and (min-width: 550px) 
 and (max-width: 767px) 
 and (orientation : portrait) { 

.intro-section {
    height: 350%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background:   #ffccff;

}
}

@media all
and (min-device-width : 550px) 
and (max-device-width : 767px) 
and (orientation : landscape) { 
.intro-section {
    height: 635%;
    padding: 20px 50px 0px 50px;
    text-align: center;
    background: #ffccff;
}


}
 
 
 @media all 
 and (max-width: 991px) 
 and (min-width: 768px)
  and (orientation :portrait)
  { 
 
  .intro-section {
    height: 80%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background:  #ffccff;
    
}
}

@media all 
 and (max-width: 991px) 
 and (min-width: 768px)
 and (orientation :landscape)
  { 
 
  .intro-section {
    height: 80%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background:  #ffccff;
    
}
}

 @media all 
 and (max-width: 1200px) 
 and (min-width: 992px)
 and (orientation :portrait)
  { 
 
  .intro-section {
    height: 150%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background:   #ff99ff;
    
}
}

@media all 
 and (max-width: 1200px) 
 and (min-width: 992px)
 and (orientation :landscape)
  { 
 
  .intro-section {
    height: 250%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background:   #ff99ff;
    
}
}




 
  /* join-section */

.join-section {
    height: 100%;
    padding: 30px 50px 50px 50px;
    text-align: center;
    background: #ffcccc;
}

 @media screen 
 and (max-width: 400px)
  and (orientation :portrait)
 {
     .join-section {
    height: 200%;
    padding: 2.25em 3.125em 70.125em 3.125em;
    text-align: center;
    background: #ffcccc;
}
}

 @media screen 
  and (min-width: 401px)
 and (max-width: 549px)

 {
     .join-section {
    height: 160%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcccc;
}
    
 }


 
  @media all
  and (max-width: 767px) 
  and (min-width: 550px)
  and (orientation :portrait) {
  .join-section {
    height: 220%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #ff99cc;
}
  }
  
   @media all
  and (max-width: 767px) 
  and (min-width: 550px)
  and (orientation :landscape) {
  .join-section {
    height: 200%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #ff99cc;
}
  }
 
  @media all 
  and (max-width: 991px) 
  and (min-width: 768px)
  and (orientation :portrait) {
  .join-section {
    height: 125%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcccc;
  
  }
  }
  
   @media all 
  and (max-width: 991px) 
  and (min-width: 768px)
  and (orientation :landscape) {
  .join-section {
    height: 180%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcccc;
  }
  }
  
   @media all
    and (max-width: 1200px) 
    and (min-width: 992px)
    and (orientation :portrait)
     {
       .join-section {
    height: 125%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff99cc;
  }
      }
      
       @media all
    and (max-width: 1200px) 
    and (min-width: 992px)
    and (orientation :landscape)
     {
       .join-section {
    height: 155%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff99cc;
  }
      }
  
 /* fix*/
 
  
  

 /* calendar-section*/

.calendar-section {
    height: 160%;
    padding: 30px 50px 50px 50px;
    text-align: center;
    
    background-image: url("images/background1.jpg");
    }
    
   @media screen 
   and (max-width: 400px)
   and (orientation :landscape){
      .calendar-section {
    height: 100%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9999;
    }
     
  }
    
   
    
     @media all
     and (min-width: 401px)
      and (max-width: 549px) 
       {
      
      .calendar-section {
    height: 200%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcc99;
    }
      
      }
    
     @media all 
     and (max-width: 992px) 
     and (min-width: 768px)
     and (orientation :portrait)
      {
     .calendar-section {
    height: 110%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9999;
    }
      }
      
       @media all 
     and (max-width: 992px) 
     and (min-width: 768px)
     and (orientation :landscape)
      {
     .calendar-section {
    height: 110%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9999;
    }
      }
      
       @media all 
       and (max-width: 1200px) 
       and (min-width: 992px)
       and (orientation :portrait)
        {
     .calendar-section {
    height: 110%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9999;
    }
      }
      
       @media all 
       and (max-width: 1200px) 
       and (min-width: 992px)
       and (orientation :landscape)
        {
     .calendar-section {
    height: 250%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9999;
    }
      }
      
    
     
    
    
    

 /* question-section*/

.question-section {
    height: 125%;
    padding: 30px 50px 50px 50px;
    text-align: center;
    background: #ffcc66;
}

 @media screen and (max-width: 400px) {
 .question-section {
    height: 230%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9966;
}
 
 }
 
  @media all 
  and (max-width: 549px) 
  and (min-width: 400px) {
      .question-section {
    height: 175%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9966;
}
     
  }
 
  @media all 
  and (max-width: 768px) 
  and (min-width: 550px) {
    .question-section {
    height: 260%;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background: #ffcc66;
   }
      }
 
  @media all and (max-width: 1200px) and (min-width: 768px) {
  .question-section {
    height: 180%;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background: #ff9966;
}
  
  }
  
  
  
  
  /* meeting-section*/

.meeting-section {
    height: 125%;
    padding: 40px 50px 50px 50px;
    text-align: center;
    background: #659EC7;
}

 @media screen
 and (max-width: 400px) {
 .meeting-section {
    height: 155%;
    padding: 3.125em 3.125em 70.125em 3.125em;
    text-align: center;
    background:  #87AFC;
}
 
 }
 
  @media all
  and (min-width: 400px)
   and (max-width: 549px) 
 {
   
   .meeting-section {
    height: 180%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #659EC7;
}
   }
   
    @media all
   and (max-width: 768px) 
   and (min-width: 550px)
   and (orientation :portrait) {
   
   .meeting-section {
    height: 200%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #659EC7;
}
   }
   
     @media all
   and (max-width: 768px) 
   and (min-width: 550px)
   and (orientation :landscape) {
   
   .meeting-section {
    height: 210%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #659EC7;
}
   }
   
    @media all 
  and (max-width: 1200px) 
  and (min-width: 768px)
   and (orientation :portrait)
  {
  .meeting-section {
    height: 110%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #87AFC7;
}
   }
   
   
 
  @media all 
  and (max-width: 1200px) 
  and (min-width: 768px)
   and (orientation :landscape)
  {
  .meeting-section {
    height: 110%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #87AFC7;
}
   }
  
  
 
 
 
 /* contact-section*/

.contact-section {
    height: 100%;
    padding: 20px 50px 50px 50px;
    text-align: center;
    background: #ffcc33;
}

@media all
and (max-width: 400px) {

.contact-section {
    height: 220%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9933;
}

.contact-section h3 {
    font-size:20px;
}

}

 @media all
 and (min-width: 400px)
 and (max-width: 549px)
 and (min-width: 400px) {
    .contact-section {
    height: 150%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9933;
}
    
 }

 @media all
 and (min-width: 550px)
 and (max-width: 767px)
  and (orientation :portrait)
 {
 .contact-section {
    height: 180%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcc33;
 
 }
 .contact-section h3 {
    font-size:20px;
}
 
 }
 
  @media all
 and (min-width: 550px)
 and (max-width: 767px)
  and (orientation :landscape)
 {
 .contact-section {
    height: 180%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ffcc33;
 
 }
 .contact-section h3 {
    font-size:20px;
}
 
 }


 @media all 
  and (min-width: 768px)
 and (max-width: 1200px) 
 and (orientation :portrait)
 {
 .contact-section {
    height: 150%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9933;
}
 }
 
  @media all 
  and (min-width: 768px)
 and (max-width: 1200px) 
 and (orientation :landscape)
 {
 .contact-section {
    height: 150%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    background: #ff9933;
}
 }
 

 /* contact1-section*/

.contact1-section {
    height: 100%;
    padding: 15px 50px 50px 50px;
    text-align: center;
    background: #ff9933;
}



   
    
   
    
   









    
    
    
    
